a {
	appearance: button;
	text-decoration: none;
	color: white;
	background-color: black;
}

input[type="radio"]:checked+label {
	font-weight: bold;
}

form#NetLightForm {
	display: none;
}

form#StaticLightForm {
	display: none;
}

form[action="/nvis/addPortGroup"] input {
	display: table-cell
}

form[action="/nvis/addPortGroup"] label {
	display: table-cell
}
