a {
	appearance: button;
	/* CSS3 */
	-webkit-appearance: button;
	/* Safari and Chrome */
	-moz-appearance: button;
	/* Firefox */
	-ms-appearance: button;
	/* Internet Explorer */
	-o-appearance: button;
	/* Opera */
	cursor: default;
	text-decoration: none;
	color: black;
	padding: 1px 6px;
}

input[type="radio"]:checked+label {
	font-weight: bold;
}

form#NetLightForm {
	display: none;
}

form#StaticLightForm {
	display: none;
}

form[action="/nvis/addPortGroup"] input {
	display: table-cell
}

form[action="/nvis/addPortGroup"] label {
	display: table-cell
}
